@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:wght@700&family=Josefin+Slab:wght@400;700&family=Padyakke+Expanded+One:wght@400&display=swap');


:root {
  --primary-color: #00a896;
  --secondary-color: #02c39a;
  --accent1-color: #05668d;
  --accent2-color: #028090;

  --heading-font: 'DM Serif Display', serif;
  --paragraph-font: 'Josefin Slab', serif;

  --nav-background-color: #02c39a;
  --nav-link-color: #05668d;
  --nav-hover-link-color: #00a896;
  --nav-hover-background-color: #028090;
}


body {
  font-family: var(--paragraph-font);
  max-width: 960px;
  padding: 20px;
}


h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--accent2-color);
}


header {
  padding: 20px;
  background-color: var(--secondary-color);
}


p {
  padding: 25px;
}


nav {
  background-color: var(--nav-background-color);
  font-size: 1.2rem;
  display: flex;
}

nav a {
  display: block;
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 1rem;
}

nav a:link, nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}
