* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Class Selectors */
/* Box Class */
.box {
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
  background-color: #ddd;
  color: #000;
}

nav {
  background-color: steelblue;
  padding: 10px;
}

nav a {
  color: white;
  display: block;
  padding: 20px;
}

h1 {
  color: steelblue;
}

img {
  width: 150px;
  height: auto;
  border: 1px solid steelblue;
  padding: 2px;
  box-shadow: 0 0 30px gray;
  float: right; /* Float the profile image to the right */
}

p {
  padding: 10px;
}

main img {
  width: 200px;
  height: auto;
  border: 1px solid steelblue;
  padding: 2px;
  box-shadow: 0 0 30px gray;
  float: right
}

aside {
  width: 24rem;
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
  background-color: #eee;
  color: #333;
  text-align: left;
  position: relative; /* Set container, aside, to relative positioning */
}

aside h2 {
  position: absolute;
  top: 0rem; 
  left: 1.5rem; 
}